<h1>Template TMPL_LOOP</h1>

<h2>the Simplest way (without any html)</h2>
<TMPL_LOOP NAME=REF_ARRAY>
  Name: <TMPL_VAR NAME=NAME>
  Job:  <TMPL_VAR NAME=JOB>
</TMPL_LOOP>
<h2>With table lay out</h2>
<table border="1">
<TMPL_LOOP NAME=REF_ARRAY>
<tr>
  <td>Name: <TMPL_VAR NAME=NAME> </td>
  <td>Job:  <TMPL_VAR NAME=JOB>  </td>
</tr>
</TMPL_LOOP>
</table>
<br>
 
<h2>This loop has been created programatically</h2>
<table border="1">
<TMPL_LOOP NAME=THIS_LOOP>
<tr>
  <td>Word: <TMPL_VAR NAME=WORD> </td>
  <td>Number:  <TMPL_VAR NAME=NUMBER>  </td>
</tr>
</TMPL_LOOP>
</table>
<br>

<h2>Table inside Table</h2>
<table border="1">
<TMPL_LOOP NAME=LOOP>
<tr>
  <td>Word: <TMPL_VAR NAME=name> </td>
  <td>
    <table border="1" >
    <TMPL_LOOP NAME=nicknames>
      <tr>
        <td>Number:  <TMPL_VAR NAME=name>  </td>

      </tr>
    </TMPL_LOOP>
    </table>
  </td>
</tr>
</TMPL_LOOP>
</table>